main {
    font-family: 'Mukta Mahee', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'PT Serif', serif;
}
.title{
  font-family: 'Amaranth', sans-serif;
font-family: 'Mukta Mahee', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Concert One', cursive;
}